 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Segoe UI', sans-serif;
    }

    body {
        font-family: 'Segoe UI', sans-serif;
      background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                  url('/kinlar-img/logo.jpg') no-repeat center center fixed;
      background-size: cover;
    line-height: 1.6;
    }

    @keyframes slideIn {
      from { transform: translateX(-100%); opacity: 0; }
      to { transform: translateX(0); opacity: 1; }
    }

    .back-btn {
      position: absolute;
      top: 20px;
      left: 20px;
      background: rgba(53, 53, 53, 0.378);
      color: rgb(91, 91, 91);
      border: 1px solid #6c6c6c;
      padding: 8px 14px;
      
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;
      z-index: 10;
    }

    .back-btn:hover {
       background: linear-gradient(to right, rgba(255, 255, 255, 0.496) 1%, transparent 40%,transparent 60% , rgba(255, 255, 255, 0.447) 100%);
  color: rgb(255, 255, 255);
border: 2px solid #fff;
   box-shadow: inset 0 0 10px rgba(162, 162, 162, 0.6), 0 0 9px 3px rgba(162, 162, 162, 0.6);

      transform: translateX(-5px);
    }

    .search-bar {
      width: 100%;
      max-width: 1100px;
      margin: 80px auto 40px;
      display: flex;
      gap: 10px;
      padding: 0 20px;
    }

    .search-bar input {
      flex: 1;
      padding: 15px 20px;
      border: none;
      font-size: 16px;
      background-color: #4949496e;
      color: #fff;
      transition: 0.3s;
    }

    .search-bar input:focus {
      outline: none;
      box-shadow: 0 0 10px rgb(255, 255, 255);
      border-radius: 1px solid #fff;
    }

    .search-bar button {
      padding: 15px 20px;
      border: none;
      background:#1a1a1a66;
      color: #8a1b1b;
      font-weight: bold;
     border: 1px solid #8a1b1b;
      cursor: pointer;
    
    }

    .search-bar button:hover {
      
        background: linear-gradient(to right, rgba(255, 0, 0, 0.496) 1%, transparent 40%,transparent 60% , rgba(255, 0, 0, 0.447) 100%);
  color: rgb(255, 0, 0);
border: 2px solid #ff0000;
   box-shadow: inset 0 0 10px rgba(255, 0, 0, 0.6), 0 0 9px 3px rgba(255, 0, 0, 0.6);

    }

    .results-container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      gap: 25px;
    }
    
    .card {
          background: rgba(43, 43, 43, 0.719);
  overflow: hidden;
  transition: transform 0.3s;
  position: relative;
  padding: 3px;
  overflow: hidden;
  background: #1d1d1d8e;
  /* or transparent if needed */
    }
  .card-border {
  position: relative;
  padding: 3px;
  overflow: hidden;
  background: #30303077; /* or transparent if needed */
}


.card::before{
content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  box-sizing: border-box;
  pointer-events: none;
  animation: moveBorder 4s linear infinite;
}
@keyframes moveBorder {
  0% {
    border-top-color: rgb(255, 255, 255);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    border-top-color: transparent;
    border-right-color: rgb(255, 255, 255);
  }
  50% {
    border-right-color: transparent;
    border-bottom-color: rgb(255, 255, 255);
  }
  75% {
    border-bottom-color: transparent;
    border-left-color: rgb(255, 255, 255);
  }
  100% {
    border-left-color: transparent;
    border-top-color: rgb(255, 255, 255);
  }
}







    .card:hover {
      transform: translateY(-10px);
    }

    .card img {
     position: relative;
      width: 100%;
      height: 350px;
      overflow: hidden;
    }

    .hd-label {
      position: absolute;
      top: 10px;
      left: 10px;
      background: rgba(0, 0, 0, 0.688);
      color: rgb(255, 255, 255);
      font-weight: 700;
      font-size: 15px;
      padding: 4px 8px;
      border-radius: 6px;
      z-index: 2;
    }

    .play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 36px;
      color: white;
      background: rgba(0, 0, 0, 0.6);
      padding: 10px;
      border-radius: 50%;
      z-index: 1;
    }

    .info {
      padding: 15px;
    }

    .info h3 {
      
      font-size: 18px;
    }

    .info p {
      font-size: 14px;
      color: #ccc;
    }

    .watch-btn {
       display: block;
  width: 100%;
  padding: 8px 0;

 border: 1px solid rgb(165, 25, 25);
  color: rgb(255, 0, 0);
  
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
    }

    .watch-btn:hover {
      color: #fff;
  background: #f80000;
  border: 1px solid red;
  box-shadow: 0px 0px 10px 0px red;
    }
      










          @media (max-width: 768px) {
            .results-container {
              grid-template-columns: repeat(2, 1fr);
              padding: 8px;
            }
       .info h3 {
      
      font-size: 15px;
    }
  
    .info p {
      font-size: 10px;
      color: #ccc;
    }
            .card img {
              height: 260px;
            }
          }